.footer {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--hover-color);
    padding: 70px 45px !important;
    width: 70% !important;
    font-size: 14px;
    margin: auto;
    color: white;
    gap: 30px;
}

.footer h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 15px !important;
    font-weight: 600 !important;
}

.footer p {
    font-size: 14px !important;
    font-weight: 400 !important;
    margin-bottom: 0 !important;
}

.footer_left {
    position: relative;
    flex: 1;
    /* flex: 60%; */
}

.footer_mid {
    flex: 1;
    /* flex: 30%; */
}
/* 
.footer_left___grid {
    width: 100%;
} */

.footer_right {
    position: relative;
    /* width: 100%; */
    flex: 1;
    /* flex: 30%; */
}

@media only screen and (max-width: 1200px) {
    .footer {
        width: 90% !important;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        width: 100% !important;
        /* margin: 0 20px !important; */
        /* max-width: unset !important; */
        gap: 30px;
    }
    .footer_left___grid {
        width: 100%;
        flex-direction: column;
        padding: 0 !important;
    }
    .footer_left___grid p {
        width: 100% !important;
    }

    .footer_right {
        width: 100%;
    }
}