.about-section-1-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.about-section-1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
    padding: 120px 10vw;
    gap: 20px;
    background-color: #f6c770;
}

.about-sec1-content {
    position: relative;
    display: block;
    /* margin: auto; */
}

.about-sec1-content h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.about-sec1-content p {
    font-size: 17px;
    width: 80%;
    margin: 24px 0;
    font-weight: normal;
}

.about-sec1-content button {
    border: 0;
    font-size: 12px;
    font-weight: 500;
    background-color: white;
    color: var(--hover-color);
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.about-sec1-image {
    position: relative;
    display: block;
    width: 35%;
    margin-top: 20%;
}

.about-sec1-image img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.about-section-2 {
    margin-top: 200px;
    position: relative;
    padding: 100px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-sec2-left-wrap {
    position: relative;
    flex: 60%;
}

.about-sec2-left {
    width: 70%;
}

.about-sec2-left h3 {
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: bold;
}

.about-sec2-left h4 {
    font-size: 14px;
    font-weight: normal;
}

.about-sec2--badge {
    margin-top: 20px;
    padding: 20px 50px;
    position: relative;
    display: block;
    box-shadow: 0 0 10px 0.1px rgb(249, 212, 145);
}

.about-sec2-right {
    flex: 40%;
    margin-left: auto;
}

.about-sec2-right p {
    font-size: 15px;
    font-weight: normal;
}

/* ----------------------------about section 3-------------------------------- */

.about-sec3--tabs-wrap {
    position: relative;
    display: block;
    width: 75%;
    margin: auto;
    margin-top: -60px;
    box-shadow: 0 0 20px 0.1px #f6c770;
    border-radius: 10px;
}

.about-sec3--head {
    padding: 100px 0;
    background-color: #f6c770;
}

.about-sec3--tab-title {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: normal;
    background-color: #fff !important;
    color: #000;
    text-transform: uppercase;
    border: none !important;
    margin: 0 !important;
    padding: 40px !important;
    border-radius: 0 !important;
}

.about-page .nav-item::before,
.about-page .nav-item::before,
.about-sec3--tab-title::before,
.about-sec3--tab-title::after {
    display: none !important;
}

.about-sec3--tab-title:hover {
    color: var(--hover-color) !important;
}

.about-page .nav-item:nth-child(1) .about-sec3--tab-title {
    border-radius: 10px 0 0 0 !important;
}

.about-page .nav-item:nth-child(2) .about-sec3--tab-title {
    border-left: 1px solid #c8c8c8 !important;
    border-right: 1px solid #c8c8c8 !important;
}

.about-page .nav-item:nth-child(3) .about-sec3--tab-title {
    border-radius: 0 10px 0 0 !important;
}

.about-page .nav-link.active {
    background-color: var(--hover-color) !important;
    color: #fff !important;
}

.about-sec3--tab-block {
    position: relative;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    /* gap: 20px; */
    width: 100%;
    height: 100%;
}

.about-sec3--tab-image {
    position: relative;
    display: block;
    flex: 50%;
}

.about-sec3--tab-image img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 0 0 0 10px; */
}

.about-sec3--tab-content {
    flex: 50%;
}

.about-page .accordion-button {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 35px 20px 20px;
}

.about-page .accordion-item {
    flex: 1;
}

.about-page .accordion {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.about-page .accordion-button:not(.collapsed) {
    background-color: #fff !important;
    color: #000 !important;
}

.about-page .accordion-button:focus {
    border-color: none !important;
    box-shadow: none !important;
}

.about-page .accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.about-sec3-card-grid {
    position: relative;
    display: flex;
}

.about-sec3-card.card {
    position: relative;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px !important;
    border-radius: 0 !important;
}

.about-sec3-card.card:nth-child(1) {
    border-radius: 0 0 0 10px !important;
}
.about-sec3-card.card:nth-child(3) {
    border-radius: 0 0 10px 0 !important;
}

.about-sec3-card .card-img {
    width: 50px;
}

.about-sec3-card .card-img img {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 50%;
}

.about-sec3-card h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.about-sec3-card p {
    font-size: 15px;
    font-weight: normal;
}

/* -----------------------about section 4------------------------ */

.about-section-4 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 75%;
    margin: auto;
    padding: 100px 0vw;
    gap: 40px;
}

.about-sec4-content--wrap {
    position: relative;
    display: block;
    flex: 1;
}

.about-sec4-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    gap: 10px;
}

.about-sec4-content h2 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.about-sec4-content p {
    font-size: 17px;
    font-weight: normal;
}

.about-sec4-image {
    position: relative;
    display: block;
    flex: 1;
    height: 90vh;
}

.about-sec4-image img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section-5 {
    padding: 60px 0px;
}

.about-section-5 .box-btn--wrap:hover span {
    background-color: black;
    color: white;
}

.about-section-5 {
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}

.about-section-5--row {
    position: relative;
    left: 8%;
    width: 80%;
    display: flex !important;
    flex-wrap: wrap !important;
    top: 100px;
}

.about-section-5--row::before {
    content: "";
    position: absolute;
    display: block;
    width: 60%;
    height: 80vh;
    z-index: 0;
    left: -15%;
    top: -80px;
    bottom: 0;
    border-top: 50px solid var(--hover-color);
    border-bottom: 50px solid var(--hover-color);
    border-right: 50px solid var(--hover-color);
    /* background-color: var(--hover-color); */
    border-radius: 0 120px 120px 0;
}

.about-section-5--row .card-head  {
    position: relative;
    display: block;
    width: 100%;
    transform: scale(2);
    text-align: center;
}
.about-section-5--row .card-head svg {
    background-color: white;
    border: 4px solid var(--hover-color);
    border-radius: 5px;
    position: relative;
    display: block;
    font-size: 40px;
    margin: auto;
    margin-top: -50px;
    color: var(--hover-color);
}

.about-section-5--row .card {
    padding: 60px 45px !important;
    width: 30%;
    border: 1px solid rgb(223, 223, 223) !important;
}

.about-section-5--row .card:nth-child(2) {
    margin: 0 20px;
}

.about-section-5 .card::before,
.about-section-5 .card::after {
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    top: 0px;
    left: 0px;
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
}

.about-section-5 .hover-card::before {
    border-top: 2px solid var(--hover-color);
    border-left: 2px solid var(--hover-color);
    border-radius: var(--bs-card-border-radius);
    transform-origin: 0 0%;
    z-index: 0;
}

.about-section-5 .hover-card::after {
    z-index: 0;
    border-bottom: 2px solid var(--hover-color);
    border-right: 2px solid var(--hover-color);
    border-radius: var(--bs-card-border-radius);
    transform-origin: 100% 100%;
}

.about-section-5 .card:hover::after,
.about-section-5 .card:hover::before {
    transform: scale(1);
}

.about-section-5 .card:hover {
    border: 1px solid rgba(223, 223, 223, 0) !important;
}

.about-section-5--row .card-body {
    position: relative;
    border: none !important;
}

.about-section-5--row .card-body img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 300px;
    margin: auto;
}

.about-section-5--row .card-text {
    font-size: 17px !important;
    font-weight: 400 !important;
    color: grey !important;
}

.about-section-5--row .card-profile-name {
    margin-top: 20px;
    font-size: 15px !important;
    font-weight: 600 !important;
}

.about-section-5--row .card-profile-job {
    font-size: 15px !important;
    font-weight: 400 !important;
    color: var(--hover-color) !important;
}

.about-section-5--row .btn_card {
    /* width: 100%; */
    text-align: left !important;
}

.about-section-5--row .btn_card h2 {
    font-size: 36px !important;
    font-weight: 600 !important;
}

.about-section-5--row .btn_card p {
    padding: 30px 0 20px !important;
}

.about-section-5--row .box-btn--wrap {
    justify-content: flex-start;
}

.about-sec6--grid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 30px;
    width: 75%;
    margin: auto;
    padding: 50px 0;
}

.about-sec6--grid .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px;
    flex: 1 !important;
    width: 100% !important;
    height: 100% !important;
    box-shadow: 0 3px 5px 0 #ffd88e;
    transition: all 0.3s ease;
}

.about-sec6--grid .card:hover {
    transform: translateY(-10px);
}

.about-sec6--grid .card-img {
    position: relative;
    display: block;
    width: 40%;
    height: 100%;
    border-radius: 300px;
}

.about-sec6--grid .card-body {
    text-transform: uppercase;
}

.about-sec6--grid .card-body h3 {
    font-size: 21px;
    font-weight: bold;
}
.about-sec6--grid .card-body h6 {
    position: relative;
    display: block;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 20px;
    margin: auto;
    color: #fff;
    border-radius: 4.5px;
    width: fit-content !important;
    background-color: var(--hover-color);
}

.about-sec6--grid .subscribe_section___social_icons a {
    padding: 5px 10px !important;
    font-size: 16px !important;
}