.about-section-1-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.about-section-1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
    padding: 120px 10vw;
    gap: 20px;
    background-color: #f6c770;
}

.about-sec1-content {
    position: relative;
    display: block;
    /* margin: auto; */
}

.about-sec1-content h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.about-sec1-content p {
    font-size: 17px;
    width: 80%;
    margin: 24px 0;
    font-weight: normal;
}

.about-sec1-content button {
    border: 0;
    font-size: 12px;
    font-weight: 500;
    background-color: white;
    color: var(--hover-color);
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.about-sec1-image {
    position: relative;
    display: block;
    width: 400px;
    height: 500px;
    margin-top: 200px;
}

.about-sec1-image img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section-2 {
    margin-top: 200px;
    position: relative;
    padding: 100px 10vw;
    display: flex;
    justify-content: space-between;
}

.about-sec2-left-wrap {
    position: relative;
    flex: 60%;
}

.about-sec2-left {
    width: 75%;
}

.about-sec2-left h3 {
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: bold;
}

.about-sec2-left h4 {
    font-size: 14px;
    font-weight: normal;
}

.about-sec2--badge {
    margin-top: 20px;
    padding: 20px 50px;
    position: relative;
    display: block;
    box-shadow: 0 0 10px 0.1px rgb(249, 212, 145);
}

.about-sec2-right {
    flex: 40%;
    margin-left: auto;
}

.about-sec2-right p {
    font-size: 15px;
    font-weight: normal;
}

/* ----------------------------about section 3-------------------------------- */

.about-sec3--tabs-wrap {
    position: relative;
    display: block;
    width: 75%;
    margin: auto;
    margin-top: -60px;
    box-shadow: 0 0 20px 0.1px #f6c770;
    border-radius: 10px;
}

.about-sec3--head {
    padding: 100px 0;
    background-color: #f6c770;
    color: #fff;
}

.about-sec3--tab-title {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: normal;
    background-color: #fff !important;
    color: #000;
    text-transform: uppercase;
    border: none !important;
    margin: 0 !important;
    padding: 40px !important;
    border-radius: 0 !important;
}

.about-page .nav-item::before,
.about-page .nav-item::before,
.about-sec3--tab-title::before,
.about-sec3--tab-title::after {
    display: none !important;
}

.about-sec3--tab-title:hover {
    color: var(--hover-color) !important;
}

.about-page .nav-item:nth-child(1) .about-sec3--tab-title {
    border-radius: 10px 0 0 0 !important;
}

.about-page .nav-item:nth-child(2) .about-sec3--tab-title {
    border-left: 1px solid #c8c8c8 !important;
    border-right: 1px solid #c8c8c8 !important;
}

.about-page .nav-item:nth-child(3) .about-sec3--tab-title {
    border-radius: 0 10px 0 0 !important;
}

.about-page .nav-link.active {
    background-color: var(--hover-color) !important;
    color: #fff !important;
}

.about-sec3--tab-block {
    position: relative;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    /* gap: 20px; */
    width: 100%;
    height: 100%;
}

.about-sec3--tab-image {
    position: relative;
    display: block;
    flex: 50%;
}

.about-sec3--tab-image img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 0 0 0 10px; */
}

.about-sec3--tab-content {
    flex: 50%;
}

.about-page .accordion-button {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 35px 20px 20px;
}

.about-page .accordion-item {
    flex: 1;
}

.about-page .accordion {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.about-page .accordion-button:not(.collapsed) {
    background-color: #fff !important;
    color: #000 !important;
}

.about-page .accordion-button:focus {
    border-color: none !important;
    box-shadow: none !important;
}

.about-page .accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.about-sec3-card-grid {
    position: relative;
    display: flex;
}

.about-sec3-card.card {
    position: relative;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px !important;
    border-radius: 0 !important;
}

.about-sec3-card.card:nth-child(1) {
    border-radius: 0 0 0 10px !important;
}
.about-sec3-card.card:nth-child(3) {
    border-radius: 0 0 10px 0 !important;
}

.about-sec3-card .card-img {
    width: 50px;
}

.about-sec3-card .card-img img {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 50%;
}

.about-sec3-card h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.about-sec3-card p {
    font-size: 15px;
    font-weight: normal;
}

/* -----------------------about section 4------------------------ */

.about-section-4 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 75%;
    margin: auto;
    padding: 100px 0vw;
    gap: 40px;
}

.about-sec4-content--wrap {
    position: relative;
    display: block;
    flex: 1;
}

.about-sec4-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    gap: 10px;
}

.about-sec4-content h2 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.about-sec4-content p {
    font-size: 17px;
    font-weight: normal;
}

.about-sec4-image {
    position: relative;
    display: block;
    flex: 1;
    height: 90vh;
}

.about-sec4-image img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .about-section-5 {
    padding-bottom: 150px;
} */

.about-section-6 {
    padding: 20px 0 50px;
}

.about-sec6--grid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 30px;
    width: 75%;
    margin: auto;
    padding: 50px 0;
}

.about-sec6--grid .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px;
    flex: 1 !important;
    width: 100% !important;
    height: 100% !important;
    box-shadow: 0 3px 5px 0 #ffd88e;
    transition: all 0.3s ease;
}

.about-sec6--grid .card:hover {
    transform: translateY(-10px);
}

.about-sec6--grid .card-img {
    position: relative;
    display: block;
    width: 40%;
    height: 100%;
    border-radius: 300px;
}

.about-sec6--grid .card-body {
    text-transform: uppercase;
}

.about-sec6--grid .card-body h3 {
    font-size: 21px;
    font-weight: bold;
}
.about-sec6--grid .card-body h6 {
    position: relative;
    display: block;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 20px;
    margin: auto;
    color: #fff;
    border-radius: 4.5px;
    width: fit-content !important;
    background-color: var(--hover-color);
}

.about-sec6--grid .subscribe_section___social_icons a {
    padding: 5px 10px !important;
    font-size: 16px !important;
}

@media only screen and (max-width: 1200px) {
    .about-section-6 {
        padding: 100px 0 50px;
    }

    .about-sec6--grid {
        width: 90%;
    }
}

@media only screen and (max-width: 1010px) {
    .about-sec1-image {
        position: relative;
        display: block;
        width: 500px;
        height: 500px;
        margin-top: 100vh;
    }
    .about-section-2 {
        padding: 100px 50px;
        margin-top: 400px;
        flex-direction: column;
        gap: 20px;
    }
    .about-sec2-left {
        width: 100%;
    }

    .about-sec3--tabs-wrap {
        width: 90%;
    }
    .about-sec3-card.card:nth-child(1) {
        border-radius: 0 0 0 0px !important;
    }
    .about-sec3-card.card:nth-child(3) {
        border-radius: 0 0 10px 10px !important;
    }
    .about-sec3--tab-block,.about-sec3-card-grid {
        flex-direction: column;
    }

    .about-section-4 {
        flex-direction: column;
    }

    .about-sec6--grid {
        width: 80%;
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    .about-section-1 {
        position: relative;
        flex-direction: column;
        gap: 0;
        height: 100%;
        padding: 0;
        background-color: transparent;
    }
    
    .about-sec1-content {
        width: 100%;
        padding: 100px 50px;
        background-color: var(--hover-light);
    }
    .about-sec1-image {
        padding: 0 50px;
        margin-top: -50px;
        width: 100%;
    }

    .about-section-2 {
        margin-top: 0;
    }
}