.blog-read {
  position: relative;
  overflow: hidden;
}

.blog-read .blog_section_1 {
  position: relative;
  /* background-color: #F1AB0A; */
}

.blog_read___section_3 {
  position: relative;
  margin-top: -80px !important;
  display: flex;
  flex-direction: column;
  border-radius: 20px !important;
  width: 80%;
  margin: auto;
  background-color: white;
}

.blog_calendar_grid {
  border-radius: 20px !important;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.blog_calendar_head {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
  padding: 40px 0 !important;
  background-color: white;
  border: 1px solid rgb(214, 214, 214);
}

.blog_calendar_image {
  width: 100%;
  display: block;
  height: 600px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
  box-shadow: rgba(18, 28, 54, 0.17) 7px 7px 10px 0px;
}

.blog_calendar_head .calendar_icon {
  font-size: 40px;
  color: var(--hover-color);
}

.blog_calendar_head h2 {
  font-style: 38px;
  font-weight: 600;
  margin: 0;
  padding: 20px 0 10px !important;
}

.blog_calendar_head p {
  font-size: 14px;
  color: var(--hover-color);
  font-weight: 400;
}

.blog_calendar_head:nth-child(1) {
  border-radius: 20px 0 0 0;
}

.blog_calendar_head:nth-child(2) {
  border-radius: 0 20px 0 0;
}

.blog_read___section_4 {
  position: relative;
  width: 60%;
  padding: 40px 0 !important;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog_read___section_4 h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.blog_read___section_4 h3 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.blog_read___section_4 p {
  color: #626a7e;
  font-size: 15px;
  font-weight: 400;
}

.blog_read___section_4 h6 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
}

.blog_read___section_4 .feature_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.blog_read___section_4 .post_image {
  width: auto;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 30px 0 !important;
}

.blog_badge_card {
  position: relative;
  padding: 30px 40px;
  font-size: 18px;
  font-weight: 400;
  background-color: #f8da96;
  border-left: 5px solid var(--hover-color);
  margin: 10px 0 30px;
}

.blog_read___section_5 .blog-grid {
  padding: 80px 0 !important;
}

@media only screen and (max-width: 768px) {
  .blog_read___section_3 {
    width: 90%;
  }
  .blog_read___section_4 {
    width: 80%;
  }

  .blog_calendar_grid{
    flex-direction: column;
  }

  .blog_calendar_head{
    border-top-right-radius: 10px !important;
  }

  .blog_calendar_head:last-child{
    border-top: none;
    border-top-right-radius: 0px !important;
  }
}