.contact-us-input {      
    background: rgb(240, 244, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(225, 230, 241);
    font: 14px / 20px Poppins, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(17, 17, 17) none 0px;
    padding: 8px 12px;
}


.contact-us-textarea{    
    height: 150px;     
    background: rgb(240, 244, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(225, 230, 241);
    font: 14px / 20px Poppins, sans-serif;
    outline: rgb(17, 17, 17) none 0px;
    padding: 8px 12px;
}

.contact-us-btn {
    color:#fff;
    text-transform: uppercase;    
    white-space: pre;
    width: 135px;
    background: #FFD88E none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: 12px / 24px Poppins, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 12px 25px;
    transition: all 0.4s ease 0s;
}



