.animated-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.blog-head-left-1,
.blog-head-left-2,
.blog-head-right-1,
.blog-head-right-2 {
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 40px;
}

.blog-head-left-1 {
    border: 20px solid #f8cb65;
    left: 5%;
    top: -30vh;
}
.blog-head-left-2 {
    border: 20px solid #f8cb65;
    left: 25%;
    top: -30vh;
}

.blog-head-left-1:nth-child(1) {
    animation: blog-float-left 10s linear infinite;
    animation-delay: 5s;
}

.blog-head-left-1:nth-child(2) {
    animation: blog-float-left 10s linear infinite;
    animation-delay: 0s;
}
.blog-head-left-2:nth-child(3) {
    animation: blog-float-left 10s linear infinite;
    animation-delay: 7.5s;
}

.blog-head-left-2:nth-child(4) {
    animation: blog-float-left 10s linear infinite;
    animation-delay: 2.5s;
}

.blog-head-right-1 {
    border: 20px solid #f8cb65;
    right: 5%;
    bottom: -30vh;
}
.blog-head-right-2 {
    border: 20px solid #f8cb65;
    right: 25%;
    bottom: -30vh;
}

.blog-head-right-1:nth-child(5) {
    animation: blog-float-right 10s linear infinite;
    animation-delay: 0s;
}

.blog-head-right-1:nth-child(6) {
    animation: blog-float-right 10s linear infinite;
    animation-delay: 5s;
}
.blog-head-right-2:nth-child(7) {
    animation: blog-float-right 10s linear infinite;
    animation-delay: 7.5s;
}

.blog-head-right-2:nth-child(8) {
    animation: blog-float-right 10s linear infinite;
    animation-delay: 2.5s;
}

@keyframes blog-float-left {
    0% {
        opacity: 1;
        top: -30vh;
        /* transform: translateY(0vh); */
    }

    100% {
        opacity: 1;
        top: 100%;
        /* transform: translateY(100%); */
    }
}
@keyframes blog-float-right {
    0% {
        opacity: 1;
        bottom: -30vh;
        /* transform: translateY(0vh); */
    }

    100% {
        opacity: 1;
        bottom: 100%;
        /* transform: translateY(100%); */
    }
}