.blog_section_1 {
  position: relative;
  padding: 130px 0 120px;
}

.blog_section_2 {
  position: relative;
  padding: 120px 0;
}

.blog-grid {
  position: relative;
  display: grid !important;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px 20px;
  width: 85%;
  margin: auto !important;
}

.blog-card {
  position: relative;
  padding: 0 30px 40px !important;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(223, 223, 223) !important;
}

.blog-card .card-img-top {
  margin-top: -40px;
  height: 300px !important;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.5s ease;
  box-shadow: rgba(18, 28, 54, 0.17) 7px 7px 10px 0px;
}

.blog-card .card-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  color: #000;
}

.blog-card .card-body h3 {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.blog-card .card-body p {
  font-size: 15px;
  font-weight: 400;
  color: #626a7e;
}

.blog-card .card-body h6 {
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  text-decoration: underline;
}

.blog-card::before,
.blog-card::after {
    width: 100%;
    height: 100%;
    z-index: 0;
    content: '';
    top: 0px;
    left: 0px;
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
}

.blog-card.hover-card::before {
    border-top: 2px solid var(--hover-color);
    border-left: 2px solid var(--hover-color);
    border-radius: var(--bs-card-border-radius);
    transform-origin: 0 0%;
}

.blog-card.hover-card::after {
    border-bottom: 2px solid var(--hover-color);
    border-right: 2px solid var(--hover-color);
    border-radius: var(--bs-card-border-radius);
    transform-origin: 100% 100%;
}

.blog-card:hover {
  border: 1px solid rgba(223, 223, 223,0) !important;
}
.blog-card:hover .card-img-top {
  transform: translateY(-20px);
}

.blog-card:hover::after,
.blog-card:hover::before {
    transform: scale(1);
}

.blog-card:hover h6 {
  color: var(--hover-color) !important;
}

@media only screen and (max-width: 768px) {
  .blog-grid {
    display: flex !important;
    width: 100% !important;
    flex-direction: column;
  }

  .blog-card .card-img-top{
    min-height: 180px !important;
  }
}