.section_1 {
    background-color: white;
    /* background-color: var(--hover-color); */
}

.section_2,
.section_3,
.section_5,
.section_4 {
    padding: 60px 0px;
}

.section_head {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
}

/* home Page */
.section_1 {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.section_1___box {
    position: absolute;
    line-height: 1;
    padding: 40px;
    width: 40%;
    border: 15px solid var(--hover-color);
    color: var(--hover-color);

    top: 100px;
    left: calc(30px + 4vw);
}

.parallax {
    background-image: url("../assets/home/home.png");
    height: 100%;
    background-attachment: fixed;
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
}

.section_1___box h1 {
    font-size: 48px;
    font-weight: 600;
}

.section_1___box h6 {
    margin: 30px 0 20px !important;
    font-size: 17px;
    font-weight: 400;
}

.section_2___grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 100px;
}

.section_2___grid .card:nth-child(1) {
    grid-area: 1 / 1 / 1 / 2;
}

.card-video {
    grid-area: 1 / 2 / 3 / 3;
}

.section_2___grid .card:nth-child(3) {
    grid-area: 1 / 3 / 1 / 4;
}

.section_2___grid .card:nth-child(4) {
    grid-area: 2 / 1 / 2 / 2;
}

.section_2___grid .card:nth-child(5) {
    grid-area: 2 / 3 / 2 / 4;
}

.section_2___grid .card_img {
    /* margin: auto;
    width: 60px !important;
    height: 60px !important;
    display: block !important; */
    filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
}

.section_2___grid .card-body {
    border: none !important;
    padding: 0;
    padding-top: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.section_2___grid .card {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 !important;
    padding: 70px 40px !important;
    /* border: 1px solid var(--hover-color) !important; */
    box-shadow: 0px 0px 3px var(--hover-color);
}

.section_2___grid .card::before,
.section_2___grid .card::after {
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: 0.5s;
}

.section_2___grid .hover-card::before {
    border-top: 2px solid var(--hover-color);
    border-left: 2px solid var(--hover-color);
    transform-origin: 0 0%;
}

.section_2___grid .hover-card::after {
    border-bottom: 2px solid var(--hover-color);
    border-right: 2px solid var(--hover-color);
    transform-origin: 100% 100%;
}

.section_2___grid .card:hover {
    border: 2px solid rgba(0, 160, 80, 0);
}

.section_2___grid .card:hover::after,
.section_2___grid .card:hover::before {
    transform: scale(1);
}

.section_2___grid .card-video {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
}

.section_2___grid .card-video img {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 50%;
}

.video-btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 300px;
    width: 80px;
    height: 80px;
    padding: 28px 30px 28px 32px;
    background-color: white !important;
    color: black !important;
    transition: 0.3s;
}

.video-btn:hover {
    transform: scale(1.2);
}

.video-btn-icon {
    font-size: 20px;
}

.section_2___grid .card a {
    color: var(--hover-color) !important;
    font-size: 12px !important;
    font-weight: 500 !important;
}

.section_2___grid .card .card-title {
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-bottom: 12px !important;
}

.section_2___grid .card .card-text {
    font-size: 14px !important;
    font-weight: 400 !important;
    margin-bottom: 20px !important;
}

.section_3 {
    position: relative;
    /* height: 100vh; */
    /* background-image: url("../assets/home/project_1.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover; */
    /* background: linear-gradient(0deg, #feefcd 0%, rgba(255, 255, 255, 1) 50%); */
    /* padding: 0 0 100px; */
}

.section_3 h1 {
    position: relative;
    z-index: 1;
    color: white;
    /* color: var(--hover-color); */
}

.background_parallax {
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url("../assets/home/project_1.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.background_parallax::after {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
}

.section_3___grid {
    position: relative;
    z-index: 1;
    background: none;
    padding: 30px 6vw;
}

.card-img-top {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    border-radius: 0 !important;
}

.section_3 .card {
    background-color: transparent !important;
    background: none !important;
    border: none !important;
}

.section_3 .card-body {
    position: relative;
    padding: 5% 10%;
    background-color: white;
}

.card-body-cont {
    position: relative;
    padding: 0 5% 5% !important;
}

.section_3 .card-body::before,
.section_3 .card-body::after {
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    top: 0px;
    left: 0px;
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
}

.section_3 .hover-card::before {
    border-top: 4px solid var(--hover-color);
    border-left: 4px solid var(--hover-color);
    transform-origin: 0 0%;
}

.section_3 .hover-card::after {
    border-bottom: 4px solid var(--hover-color);
    border-right: 4px solid var(--hover-color);
    transform-origin: 100% 100%;
}

.section_3 .card-body:hover::after,
.section_3 .card-body:hover::before {
    transform: scale(1);
}

.section_3___service_btn {
    margin: 20px 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
}

.section_3 .card-title {
    margin-bottom: 10px;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.section_3 .card-text {
    font-size: 15px !important;
    font-weight: 500 !important;
}

.section_3___service_btn .box {
    /* padding: 10px; */
    position: relative;
    background-color: transparent;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 4px;
    font-size: 22px !important;
    color: var(--hover-color) !important;
    border: 2px solid var(--hover-color);
}

.section_3___service_btn span {
    /* color: black !important; */
    padding: 5px 10px;
    color: white !important;
    background-color: var(--hover-color) !important;
    z-index: 1;
    margin-left: -10px;
    font-size: 12px !important;
    font-weight: 500;
}

.section_4 {
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}

.section_4___row {
    position: relative;
    left: 8%;
    width: 80%;
    display: flex !important;
    flex-wrap: wrap !important;
    top: 100px;
}

.section_4___row::before {
    content: "";
    position: absolute;
    display: block;
    width: 60%;
    min-height: 80vh;
    height: 100%;
    z-index: 0;
    left: -15%;
    top: -80px;
    bottom: 0;
    box-shadow: 0 0 0 50px inset var(--hover-color);
    /* border: 20px solid var(--hover-color); */
    /* background-color: var(--hover-color); */
    border-radius: 0 120px 120px 0;
}

.section_4___row .card-head {
    position: relative;
    background-color: white !important;
    display: block;
}

.section_4___row .card-head img {
    z-index: 1;
    background-color: white !important;
    border-radius: 6px !important;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: -140px;
    filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(1);
}

.section_4___row .card {
    padding: 60px 45px !important;
    width: 30%;
    /* border: none !important; */
    /* box-shadow: 0 0 0 1px var(--hover-color); */
    border: 1px solid rgb(223, 223, 223) !important;
}

.section_4___row .card:nth-child(2) {
    margin: 0 20px;
}

.section_4 .card::before,
.section_4 .card::after {
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    top: 0px;
    left: 0px;
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
}

.section_4 .hover-card::before {
    border-top: 2px solid var(--hover-color);
    border-left: 2px solid var(--hover-color);
    border-radius: var(--bs-card-border-radius);
    transform-origin: 0 0%;
    z-index: 0;
}

.section_4 .hover-card::after {
    z-index: 0;
    border-bottom: 2px solid var(--hover-color);
    border-right: 2px solid var(--hover-color);
    border-radius: var(--bs-card-border-radius);
    transform-origin: 100% 100%;
}

.section_4 .card:hover::after,
.section_4 .card:hover::before {
    transform: scale(1);
}

.section_4 .card:hover {
    border: 1px solid rgba(223, 223, 223, 0) !important;
}

.section_4___row .card-body {
    position: relative;
    border: none !important;
}

.section_4___row .card-body img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 300px;
    margin: auto;
}

.section_4___row .card-text {
    font-size: 17px !important;
    font-weight: 400 !important;
    color: grey !important;
}

.section_4___row .card-profile-name {
    margin-top: 20px;
    font-size: 15px !important;
    font-weight: 600 !important;
}

.section_4___row .card-profile-job {
    font-size: 15px !important;
    font-weight: 400 !important;
    color: var(--hover-color) !important;
}

.section_4___row .btn_card {
    /* width: 100%; */
    text-align: left !important;
}

.section_4___row .btn_card h2 {
    font-size: 36px !important;
    font-weight: 600 !important;
}

.section_4___row .btn_card p {
    padding: 30px 0 20px !important;
}

.section_4___row .section_3___service_btn {
    justify-content: flex-start;
}

.section_5 {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.section_5 .image_grid {
    position: relative;
    width: 100%;
    padding: 30px 0px 0;
    margin: auto;
}

.section_5 .project {
    overflow: hidden;
    position: relative;
    display: block;
    padding: 0px !important;
    margin: 10px !important;
    width: 31%;
}

.section_5 .project-image {
    width: 100%;
    height: 300px;
    position: relative;
    object-fit: cover;
    display: block;
}

.project-hover {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 40px; */
    padding: 20px;
    background-color: var(--hover-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.3s ease;
}

.project-hover img {
    width: 50px;
    height: 50px;
    display: block;
}

.project-name-hover {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: var(--hover-color);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.project:hover .project-hover {
    opacity: 1;
    transform: translateY(0);
}

.project:hover .project-name-hover {
    opacity: 1;
}

.project:hover .project-image {
    filter: brightness(0.7);
}

.section_6 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 100px 0;
    width: 100%;
    background-color: var(--hover-color);
    /* background: linear-gradient(rgba(63, 116, 255, 0.77),
            rgba(63, 116, 255, 0.77)) repeat scroll 0px 0px / auto padding-box border-box,
        url("https://assets.website-files.com/5e18b950687bae113b6f6888/5e2a57eeb3437b6fa203f304_Square6.svg") no-repeat scroll 100% 100% / 500px padding-box border-box,
        rgb(63, 116, 255) url("https://assets.website-files.com/5e18b950687bae113b6f6888/5e2a5865b3437b716e03f480_Square7.svg") no-repeat scroll 10% 0% / 500px padding-box border-box; */
}

.section_6 img {
    width: 150px;
    height: 100px;
    display: block;
    object-fit: contain;
}

.section_7 {
    min-height: 80vh;
    background: linear-gradient(rgba(255, 255, 255, 0.13),
            rgba(255, 255, 255, 0.295)) repeat scroll 0px 0px / auto padding-box border-box,
        url("../assets/down_back.svg") no-repeat scroll 100% 100% / 500px padding-box border-box,
        white url("../assets/up_back.svg") no-repeat scroll 10% 0% / 500px padding-box border-box;
    padding: 100px 20px;
}

.section_7 h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.section_7 p {
    font-size: 17px;
    font-weight: 400;
}

.subscribe_input {
    position: relative;
    border: 1px solid var(--hover-color);
    /* background-color: rgba(255, 166, 57, 0.3) !important; */
    padding: 5px 15px 2px !important;
    color: black !important;
    height: 50px;
    border-radius: 6px;
    font-size: 14px;
    border-left: none !important;
    border-color: var(--hover-color) !important;
}

.input-group-text {
    /* border-radius: 6px !important; */
    background-color: white !important;
    border-right: none !important;
    color: var(--hover-color) !important;
    border-color: var(--hover-color) !important;
    font-size: 30px !important;
}


.blog_input-btn {
    color: var(--hover-color);
    cursor: pointer;
    height: 50px;
    text-align: center;
    user-select: none;
    background-color: white;
    border: 1px solid var(--hover-color);
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    width: 150px;
    padding: 9px 15px;
    transition: all 450ms;
}

.blog_input-btn:hover {
    background-color: #f1ac0ac2;
    color: white;
}

.subscribe_section___social_icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 30px; */
}

.subscribe_section___social_icons a {
    padding: 5px 10px;
    font-size: 25px !important;
    color: var(--hover-color) !important;
    border-left: 2px solid var(--hover-color);
    border-top: 2px solid var(--hover-color);
    border-bottom: 2px solid var(--hover-color);
}

.subscribe_section___social_icons a:last-child {
    border-right: 2px solid var(--hover-color);
}

.subscribe-form {
    width: 50%;
    margin-top: 100px !important;
}

@media only screen and (max-width: 1200px) {
    .section_3___grid {
        padding: 30px 0;
    }

    .section_2___grid {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 30px 0px;
    }

    .section_4___row .card {
        width: 47% !important;
    }

    .section_4___row::before {
        width: 100%;
        height: 75vh;
        min-height: unset;
    }

    .section_4___row .btn_card {
        margin: 120px 0 100px;
        display: block !important;
        position: relative !important;
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .subscribe-form {
        width: 100%;
    }

    .section_1::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        /* background-color: #ffb40688; */
    }

    .section_1___box {
        position: absolute;
        width: 90%;
        left: 5%;
        right: 5%;
    }
}

@media only screen and (max-width: 950px) {
    .project {
        width: 47% !important;
    }
}

@media only screen and (max-width: 900px) {
    .section_4___row {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .section_1___box h1 {
        font-size: 24px;
    }

    .project {
        width: 100% !important;
    }

    .section_4___row {
        flex-direction: column;
    }

    .section_4___row::before {
        width: 100%;
        /* left: -10%; */
    }

    .section_4___row .card {
        width: 100% !important;
        margin: 20px 0 !important;
    }

    .section_4___row .card:nth-child(2) {
        margin-top: 100px !important;
    }

    .section_4___row .btn_card {
        margin: 50px 0 100px !important;
        display: block !important;
        position: relative !important;
        width: 100%;
    }

    .subscribe-form {
        flex-direction: column;
        width: 100%;
    }

    .blog_input-btn {
        width: 100%;
        margin: 0 !important;
    }
}