@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  /* --hover-color: #1080FF; */
  --hover-color: #F1AB0A;
  --hover-light: #ffd88e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* outline: 2px solid red; */
}

/*width*/
::-webkit-scrollbar {
  width: 5px;
  color: #000;
}

/*track*/
::-webkit-scrollbar-track {
  background-color: #fff;
}

/*handle*/
::-webkit-scrollbar-thumb {
  background-color: #9a9a9a;
  border-radius: 3px;
}

/*handle on hover*/
::webkit-scrollbar-thumb:hover {
  background-color: #9a9a9a;
}

html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.dropdown-toggle::after {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  display: none !important;
}

header {
  position: relative;
  padding: 10px 0;
  background-color: white !important;
}

nav {
  background-color: white !important;
}

.underline {
  position: relative;
  width: 180px;
  margin: 30px auto !important;
}

.underline-middleline {
  height: 1px;
  background: grey;
}

.underline-leftcircle {
  height: 7px;
  position: absolute;
  top: -3px;
  width: 7px;
  background: var(--hover-color) none repeat scroll 0% 0% / auto padding-box border-box;
  border-radius: 100px;
}

.underline-rightcircle {
  height: 7px;
  position: absolute;
  right: 0px;
  top: -3px;
  width: 7px;
  background: var(--hover-color) none repeat scroll 0% 0% / auto padding-box border-box;
  border-radius: 100px;
}
 
.underline-when-yellowbg{
  background: #fff none repeat scroll 0% 0% / auto padding-box border-box;
}

.navbar-toggler {
  padding-right: 20px !important;
}
.navbar-brand {
  padding-left: 20px !important;
}
.navbar-brand img {
  width: 100%;
  height: 40px;
  display: block;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}

.nav_cont {
  padding: 0 0px !important;
}

.nav_btn {
  text-transform: uppercase;
  padding: 12px 25px !important;
  font-size: 12px !important;
  letter-spacing: 1px;
  background-color: var(--hover-color) !important;
  color: white !important;
}

.nav-link,
.dropdown-item {
  position: relative;
  color: black !important;
  font-size: 14px !important;
  font-weight: 500;
  padding: 8px 0px !important;
}

.dropdown-menu {
  padding: 0 !important;
  /* box-shadow: 0px 0px 1px 0px grey; */
}

.dropdown-item:hover {
  color: var(--hover-color) !important;
  background: none !important;
}

.dropdown-item.active {
  background-color: var(--hover-color) !important;
  color: white !important;
}

.nav-item::before,
.nav-item::after {
  content: "" !important;
  width: 0px !important;
  height: 0.5px !important;
  display: block !important;
  transition: all 0.2s linear;
  background: var(--hover-color) !important;
}

.nav-link::before,
.nav-link::after {
  content: "" !important;
  width: 0.5px !important;
  height: 0px !important;
  position: absolute !important;
  /* display: block !important; */
  transition: all 0.2s linear;
  background: var(--hover-color) !important;
}

.nav-item::before {
  left: 0 !important;
  top: 0 !important;
}

.nav-item::after {
  right: 0 !important;
  bottom: 0 !important;
}

.nav-link::before {
  /* margin-left: -20px; */
  left: 0 !important;
  top: 0 !important;
}

.nav-link::after {
  /* margin-left: 20px; */
  right: 0 !important;
  top: 0 !important;
}

.nav-item:hover::after,
.nav-item:hover::before {
  width: 100% !important;
}

.nav-item:hover .nav-link::after,
.nav-item:hover .nav-link::before {
  height: 100% !important;
}

.nav-item {
  position: relative;
}
.nav-link,.dropdown-item {
  position: relative;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.dropdown_btn {
  position: relative;
  display: flex !important;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.arrow_icon {
  color: black;
  stroke-width: 20px;
}

.box-btn--wrap {
  margin: 20px 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}

.box-btn--wrap .box-icon {
  position: relative;
  background-color: transparent;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 4px;
  font-size: 22px !important;
  color: var(--hover-color) !important;
  border: 2px solid var(--hover-color);
  transition: all 0.5s ease;
}

.box-btn--wrap span {
  padding: 5px 10px;
  color: white;
  background-color: var(--hover-color);
  z-index: 1;
  margin-left: -10px;
  font-size: 12px !important;
  font-weight: 500;
  transition: all 0.5s ease;
}

.box-btn--wrap:hover .box-icon {
  background-color: var(--hover-color);
  color: white !important;
}

.box-btn--wrap:hover span {
  background-color: white;
  color: black;
}

@media only screen and (min-width: 1200px) {
  .nav_cont {
    width: 80% !important;
  }

  .arrow_icon {
    margin-left: 10px;
  }

  .nav_list {
    align-items: center;
    height: 60px;
    padding: 0 16px;
  }

  .nav-link,
  .dropdown-item {
    padding: 8px 20px !important;
  }
}